h1 {
  border: none;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.placeHolder {
  color: lightblue;
}

.editor-page {
  border: 1px solid black;
  width: 80%;
  margin-bottom: 200px;
  padding-bottom: 600px;
}
