extends layout

block content
  if user 
    h1 Welcome Back #{user.username}
    div 
      a(href="/log-out") Log Out 
  else 
    div(class="login-container")
        h1 login Account
        div(class="input-fields")
          form(action="", method="post")
            div(class="input-fields")
              label(for="username") Username 
              input(type="text", name="username" placeholder=" Type your username")
            div(class="input-fields")
              label(for="password") Password 
              input(type="password" name="password" placeholder="Type your password")
              button Log In 
          div(class="other-sign-in-options")
            a(href="../sign-up") Sign Up
            a(href="../forgot-password") Forgot Password?
    div(class="wrapper")
      div(class="text-element-one") joy
      div(class="text-element-two") Of 
      div(class="text-element-three") Creation



